/Aldersonia.file.list.ani.txt
/Aldersonia.file.list.ani.txt.result.txt
/Antrihabitans.file.list.ani.txt
/Antrihabitans.file.list.ani.txt.result.txt
/Corynebacterium.file.list.ani.txt
/Corynebacterium.file.list.ani.txt.result.txt
/Dietzia.file.list.ani.txt
/Dietzia.file.list.ani.txt.result.txt
/Gordonia.file.list.ani.txt
/Gordonia.file.list.ani.txt.result.txt
/Hoyosella.file.list.ani.txt
/Hoyosella.file.list.ani.txt.result.txt
/Jongsikchunia.file.list.ani.txt
/Jongsikchunia.file.list.ani.txt.result.txt
/Lawsonella.file.list.ani.txt
/Lawsonella.file.list.ani.txt.result.txt
/Millisia.file.list.ani.txt
/Millisia.file.list.ani.txt.result.txt
/Mycobacteroides.file.list.ani.txt
/Mycobacteroides.file.list.ani.txt.result.txt
/Mycolicibacillus.file.list.ani.txt
/Mycolicibacillus.file.list.ani.txt.result.txt
/Mycolicibacter.file.list.ani.txt
/Mycolicibacter.file.list.ani.txt.result.txt
/Mycolicibacterium.file.list.ani.txt
/Mycolicibacterium.file.list.ani.txt.result.txt
/Nocardia.file.list.ani.txt
/Nocardia.file.list.ani.txt.result.txt
/Rhodococcus.file.list.ani.txt
/Rhodococcus.file.list.ani.txt.result.txt
/Segniliparus.file.list.ani.txt
/Segniliparus.file.list.ani.txt.result.txt
/Skermania.file.list.ani.txt
/Skermania.file.list.ani.txt.result.txt
/Smaragdicoccus.file.list.ani.txt
/Smaragdicoccus.file.list.ani.txt.result.txt
/Tsukamurella.file.list.ani.txt
/Tsukamurella.file.list.ani.txt.result.txt
/Williamsia.file.list.ani.txt
/Williamsia.file.list.ani.txt.result.txt
/nohup.out
/work.sh